src/main/resources/schema/event.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="event" type="event"/>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="basePrice" type="xs:double"/>
      <xs:element name="rate" type="eventRate"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="eventRate">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW"/>
      <xs:enumeration value="MID"/>
      <xs:enumeration value="HIGH"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

